<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="imglogo" src="../assets/logocarvajal.svg"id="logocarvajal"/>
      </a>
      <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <app-navbar></app-navbar>
    </div>
</div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Carvajal Wishlist</h1>
      <h2 class="subtittle"><strong>"Mantén sus mejores deseos cerca de su corazón <br>
        y observa lo que sucede". Tony DeLiso</strong></h2>
    </div>
  </header>
